.alert {
  @apply absolute;
  top: 80px;
  right: 40px;
}
.success {
  @apply bg-green-500 rounded-3xl shadow-lg relative flex justify-center flex-col;
  width: 240px;
  min-height: 60px;
  height: auto;
}

.failure {
  @apply bg-red-500 rounded-3xl shadow-lg relative flex justify-center flex-col;
  width: 240px;
  min-height: 60px;
  height: auto;
}

.text {
  @apply text-center text-white font-nunito font-bold text-xl;
}
