@tailwind base;
@tailwind components;
@tailwind utilities;

.intent0 {
  @apply h-24 border-2 border-voiceflow-blue m-2 rounded-lg p-3 pl-6 pr-6 text-voiceflow-blue font-nunito font-bold;
  width: 330px;
}

.intent1 {
  @apply h-24 bg-voiceflow-blue-light border-2 border-voiceflow-blue-light m-2 rounded-lg p-3 pl-6 pr-6 text-white font-nunito font-bold;
  width: 330px;
}

.intent2 {
  @apply h-24 bg-voiceflow-blue border-2 border-voiceflow-blue m-2 rounded-lg p-3 pl-6 pr-6 text-white font-nunito font-bold;
  width: 330px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
