@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap'); */
@font-face {
  font-family: "Montserrat";
  src: url(../../../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../../../fonts/Nunito-VariableFont_wght.ttf);
}

.blue {
  @apply border-2 border-voiceflow-blue mb-20 rounded-full p-3 text-white bg-voiceflow-blue;

}

.outline {
  @apply border-2 border-voiceflow-blue mb-20 rounded-full p-3 text-voiceflow-blue;
}

.disabled{
  @apply border-2 opacity-25 border-voiceflow-blue mb-20 rounded-full p-3 text-voiceflow-blue;
}

.black {
  @apply w-40 border-2 border-black m-3 rounded-full p-3 text-black font-nunito;
  font-weight: 700;
}

.white {
  @apply w-40 border-2 border-voiceflow-blue rounded-full p-3 text-voiceflow-blue bg-white;
  font-weight: 700;
}
